

<div class="login-form-container">

    <form method="post" action="/admin/store">
        <h3>create new dish</h3>
        <input type="text" name="id" placeholder="ID:ddmmyy" id="id" class="box">
        <input type="text" name="category" placeholder="Category (Ex:side-dishes)" id="category" class="box">
        <input type="text" name="description" placeholder="Description" id="description" class="box">
        <input type="text" name="name" placeholder="Name" id="name" class="box">
        <input type="text" name="old_price" placeholder="Old price" id="old_price" class="box">
        <input type="text" name="new_price" placeholder="New price" id="new_price" class="box">
        <input type="text" name="in_stock" placeholder="In stock" id="in_stock" class="box">
        <input type="text" name="image" placeholder="Image" id="image" class="box">
        
        <button type="submit" class="btn">Create Now</button>
    </form>

</div>

