<link rel="stylesheet" href="/css/statistic.css">
{{!-- <script src="test.js"></script> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="select-form">
    <form action="" method="get">
        <div>
            <label class="select-text" for="bday-month">Timeline: </label>
            <input class="select-text" id="bday-month" type="month" name="month-year" value="2001-06">
            <button class="select-button"> submit </button>
        </div>
    </form>
</div>

<div class="select-form">
    <form action="" method="get">
        <div>
            <label class="select-text" for="year">Timeline: </label>
            <input class="select-text year-text" type="number" min="2020" max="3000" step="1" value="2022" />
            <button class="select-button year-button"> submit </button>
        </div>
    </form>


</div>




