<link rel="stylesheet" href="/css/statistic.css">

<div>
    <head>
        <title>Top 10 best selling product</title>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/8.7.1/themes/dark_turquoise.min.js"></script>
    </head>  
    <div class="graph">
        <div id="container"></div>
        <div class="topProducts" style="display:none;"> {{topProducts}} </div>
        <script>
            anychart.onDocumentReady(function () {
                var rawValues = document.getElementsByClassName("topProducts").item(0).innerHTML.split(',');
                var topProducts = [];

                for (var i = 0; i < rawValues.length; i+=2) {
                    topProducts.push( [rawValues[i], rawValues[i + 1]] )
                }
                var data = {
                    header: ["Product name", "Product count"],
                    rows: topProducts
                };

                var chart = anychart.bar();
                anychart.theme(anychart.themes.darkBlue);
                chart.data(data);
                title = chart.title("Top 10 best selling product");
                chart.yScale().ticks().interval(10);
                chart.yScale().minorTicks().interval(1);
                chart.yGrid().enabled(true);
                chart.yMinorGrid().enabled(true);
                chart.animation(true);
                chart.container("container");
                chart.draw();
            });
        </script>
    </div>
</div>
