

<div class="login-form-container">

   
    <form action="#" method = "post">
        <h3>login form</h3>
        <input type="username" name="username" placeholder="enter your username" id="" class="box">
        <input type="password" name="password" placeholder="enter your password" id="" class="box">
        {{#if wrongPass}}
        <p style="font-size: smaller; color: red">Username or password is incorrect.</p>
        {{/if}}
        <input type="submit" value="login now" class="btn">
        <p>forget password? <a href="#">click here</a></p> 
    </form>

</div>
    

    <!-- shopping-cart section  -->

