

<div class="login-form-container">
     <form action="" method ="post">
        <h3>sign-up</h3>
        <input type="text" name="name" placeholder="enter your full name" id="" class="box" required>
        <input type="username" name="username" placeholder="enter your username" id="" class="box" required>
        {{#if error.usernameCheck}}
        <p style="font-size: smaller; color: red">{{error.usernameCheck}}</p>
        {{/if}}
        <input type="password" name="password" placeholder="enter your password" id="" class="box" required>
        <input type="email" name="email" placeholder="enter your email" id="" class="box" required>
        {{#if error.emailCheck}}
        <p style="font-size: smaller; color: red">{{error.emailCheck}}</p>
        {{/if}}
        <input type="date" name="date" placeholder="enter your date of birth" id="" class="box" required>
        <input type="text" name="phoneNumber" placeholder="enter your phone number" id="" class="box" required>
        <input type="submit" value="sign-up" class="btn">
        {{!-- <p>forget password? <a href="#">click here</a></p> --}}
          {{#if user}}
          
            {{else}}
            {{/if}}
    </form>
</div>
    



