<link rel="stylesheet" href="/css/app.css">
<header class="header" style="background-color: rgb(188, 248, 196);">

    <a href="#" class="logo"> <i class="fas fa-utensils"></i> Admin's Camap</a>
    
    <nav class="navbar">
        <a href="/home">home</a>
        <a href="/product">product</a>

        <a href="/admin/create">create</a>
        <a href="/admin/storedItems">manage</a>
        <a href="/admin/account">account</a>
        <a href="/admin/statistic">statistic</a>
        <a href="/admin/trending">trending</a>
    </nav>

    <div class="icons">
        <a href="">
        <div id="menu-btn" class="fas fa-bars"></div>
        </a>
        <div id="search-btn" class="fas fa-search"></div>
        
        <div class="dropdown"> 
            <div id="login-btn" class="fas fa-user"></div>
            <div class="dropdown-content">
                    {{#if user}}
                    <a href="/admin/profile">
                        <p class="btn-drop" >My profile</p>
                    </a>
                    
                    <a href="/sign-up">
                        <p class="btn-drop" >Register</p>
                    </a>   
                    
                     <a href="/admin/change-pass">
                        <p class="btn-drop" >Change password</p>
                    </a>   

                    <a href="/logout">
                        <p class="btn-drop" >Log out</p>
                    </a>
                    {{else}}
                    <a href="/sign-in">
                      <p  class="btn-drop">Log in</p>
                  </a>
                    {{/if}}
            </div>

        </div>

        {{#if user}}
        <div class="dropdown"> 
            <div id="manage-btn" class="fas fa-tasks"></div>
            <div class="dropdown-content">
                    
                    <a href="/admin/account">
                        <p class="btn-drop" >Admin accounts</p>
                    </a>
                    
                    <a href="/admin/userAccounts">
                        <p class="btn-drop" >User accounts</p>
                    </a>   

                    <a href="/admin/storedItems">
                        <p class="btn-drop" >Products</p>
                    </a> 

            </div>

        </div>
        {{/if}}

        

    </div>
    
</header>



<section class="search-form-container">

    <form action="/product" method="get" >
        <input type="search" name = "search" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</section>


