<link rel="stylesheet" href="/css/app.css">
<header class="header">

    <a href="#" class="logo"> <i class="fas fa-utensils"></i> Admin's food page</a>
    
    <nav class="navbar">
        <a href="/home">home</a>
        <a href="/product">product</a>

        <a href="/admin/create">create</a>
        <a href="/admin/storedItems">manage</a>
        <a href="/product/test">about</a>
        <a href="#">blogs</a>
    </nav>

    <div class="icons">
        <a href="">
        <div id="menu-btn" class="fas fa-bars"></div>
        </a>
        <div id="search-btn" class="fas fa-search"></div>
        <div id="cart-btn" class="fas fa-shopping-cart"></div>
        <a href="/sign-in">

        <div id="login-btn" class="fas fa-user"></div>
        </a>
    </div>
    
</header>