<link rel="stylesheet" href="/css/app.css">
<header class="header">

    <a href="#" class="logo"> <i class="fas fa-utensils"></i> Admin's food page</a>
    
    <nav class="navbar">
        <a href="/home">home</a>
        <a href="/product">product</a>

        <a href="/admin/create">create</a>
        <a href="/admin/storedItems">manage</a>
        <a href="/product/test">about</a>
        <a href="#">blogs</a>
    </nav>

    <div class="icons">
        <a href="">
        <div id="menu-btn" class="fas fa-bars"></div>
        </a>
        <div id="search-btn" class="fas fa-search"></div>
        <div id="cart-btn" class="fas fa-shopping-cart"></div>

        <div class="dropdown"> 
            <div id="login-btn" class="fas fa-user"></div>
            <div class="dropdown-content">
                
                
                    {{#if user}}
                    <a href="/product">
                        <p class="btn-drop" >Hello World!</p>
                    </a>
                    
                    <a href="/product">
                        <p class="btn-drop" >Hello World!</p>
                    </a>   

                    <a href="/logout">
                        <p class="btn-drop" >Log out</p>
                    </a>
                    {{else}}
                    {{!-- <a href="/sign-in"> --}}
                    <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
                        <p  class="btn-drop">Log in</p>
                    </a>
                    {{/if}}
                    
                
            </div>

        </div>

    </div>
    
</header>

<div id="id01" class="modal form">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input class="textpass" type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input input class="textpass" type="password" placeholder="Enter Password" name="psw" required>
        
      <button class="form_btn" type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div style="margin-left: 2rem;font-size:1.5rem;margin-bottom:2rem">
        <p>forget password? <a href="#">click here</a></p>
    </div>
  </form>
</div>


<section class="search-form-container">

    <form action="/product" method="get" >
        <input type="search" name = "search" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</section>